.sorting-container {
    display: flex;
    align-items: baseline;

    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 25%;

    transition: 0.3s;
}

#sorting-array {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;
    width: 350px;
    font-size: 2vw;

    transition: 0.3s;
}

.sorting-content {
    background-color: aquamarine;
    width: 20px;
    height: 100px;
    margin: 5px;

    transition: 0.3s;
}

.highlighted {
    filter: brightness(1.2);
}

.selected {
    filter: brightness(0.8);
}

.success {
    filter: brightness(1.5);
}

.selectedMethod {
    background-color: aquamarine;
}

.dark {
    filter: brightness(1.2);
}